{% from 'modules/background.twig' import background %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}{{ pageTitle ? ' &gt; ' ~ pageTitle }}</title>
		<meta name="description" content="{{ description }}">

		<link rel="stylesheet" href="css/style.min.css{{ version }}">

		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body>
		<div class="page">
			{% block header %}
				<h1 class="visually-hidden">{{ projectName }}</h1>

				{% include 'components/page-header.twig' %}
			{% endblock %}

			<main class="page__main">
				{% block main %}{% endblock %}
			</main>

			{% block footer %}
				{% include 'components/page-footer.twig' %}
			{% endblock %}
		</div>

		{% include 'modules/scripts.twig' %}
	</body>
</html>
