<ul class="rates {{ bemMix }}">
	{% for rate in data.list %}
		<li class="rates__item {{ rate.lead ? 'rates__item--lead' }}">
			<p class="rates__value">{{ rate.value }}</p>
			<p class="rates__key">{{ rate.key }}</p>
			<div class="rates__content">{{ rate.content }}</div>
		</li>
	{% endfor %}
</ul>
